{
  "extends": "stylelint-config-standard",
  "rules": {
    "function-url-quotes": "always",
    "indentation": 2,
    "number-leading-zero": null,
    "at-rule-no-unknown": null,
    "no-descending-specificity": null,
    "unit-whitelist": [
      "em",
      "rem",
      "s",
      "%",
      "px",
      "deg"
    ]
  }
}
