body {
  scroll-behavior: smooth;
}

.page {
  position: relative;
}

.weui-tab__panel {
  // 重置底部空隙
  padding-bottom: 3.5rem !important;
}

.has-bg-default {
  background: $color-bg-body !important;
}

.pm-search {
  &--top {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0 1rem;
  }

  .weui-cells {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    background-color: transparent;

    &::before,
    &::after {
      content: none;
    }
  }

  .weui-cell {
    flex: 1;
    margin-right: 0.75rem;
    padding: 0 2rem 0 0.5rem;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .weui-input {
    font-size: 0.815rem;
    height: 2.411765em;

    &::placeholder {
      color: #fff;
    }

    ::-webkit-input-placeholder {
      color: #fff;
    }
  }
}

.pm-swiper--no-title {
  .vux-swiper-desc {
    display: none;
  }
}

.pm-tabbar {
  .weui-tabbar__icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.pm-header {
  &.vux-header {
    background-color: transparent;

    .vux-header-title {
      color: $color-text-main;
      font-size: 1.05rem !important;
      font-weight: 600;
    }

    .vux-header-back {
      visibility: hidden;
    }
  }

  &--bg {
    &.vux-header {
      background: #fff;
    }
  }
}

.pm-tab {
  .vux-tab {
    width: 16rem;

    .vux-tab-item {
      flex: 0 0 4rem;
      background: none;

      .vux-tab-selected {
        color: $color-text-highlight;
      }
    }
  }

  .vux-tab-bar-inner {
    background-color: $color-text-highlight;
  }
}

.pm-auth-info {
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: #fafafa;

  .vux-flexbox-item {
    text-align: center;
    font-size: 0.875rem;
    color: $color-text-secondary;

    > i {
      margin-right: $spacing-step;
    }
  }

  &.pm-auth-info--reverse {
    position: absolute;
    bottom: -0.2rem;
    background-color: rgba(255, 255, 255, 0.2);

    .vux-flexbox-item {
      color: #fff;
    }
  }
}

.pm-main-info {
  display: flex;
  flex-flow: column;
  padding: 0.75rem 1rem;

  &__header,
  &__ft {
    display: flex;
    justify-content: space-between;
  }

  &__ft {
    margin-top: $spacing-step;
    align-items: baseline;
  }

  &__consult {
    flex: 0 0 4.375rem;
    text-align: right;
  }

  &__lbox {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__title {
    width: 100%;
    font-size: 1.315rem;
    line-height: 1.845rem;
    font-weight: 800;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__rtime {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: $color-text-secondary;
  }

  &__price {
    font-size: 1.625rem;
    color: $color-text-success;
    line-height: 2.28rem;
    font-weight: 400;
    margin-right: -0.5rem;
  }

  &__oprice {
    font-size: 0.75rem;
    line-height: 1.03rem;
    color: $color-text-weakening;
    vertical-align: baseline;
  }

  &__enroll {
    font-size: 0.875rem;
    color: $color-text-weakening;
  }
}

.pm-bottom-group {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 3.5rem;
  text-align: center;
  background: #fff;

  &__btn {
    flex: 1;
    line-height: 3.5rem;
    font-size: 1rem;
    color: #3eba45;
  }

  .is-disabled {
    opacity: 0.6;
  }

  .has-color {
    color: #fff;
    background: linear-gradient(90deg, #4eda59 0%, #3eba45 100%);
  }
}

.pm-consultant {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 3.5rem;
  text-align: center;
  background: #fff;

  &__btn {
    flex: 0 0 16.67%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    font-size: 0.625rem;
    border-top: 1px solid #e5e5e5;

    &--large {
      flex: 1;
      background-image: linear-gradient(90deg, #4eda59 0%, #3eba45 100%);
      line-height: 3.5rem;
      color: #fff;
      font-size: 1rem;
    }

    & + & {
      border-left: 1px solid #e5e5e5;
    }
  }
}

.x-gap {
  height: 0.75rem;
  background-color: $color-bg-card;
  // background-color: red;
}

.pm-lesson-wares {
  padding: 1rem 1rem 0;
}

.pm-lesson-ware {
  margin-bottom: 1.2rem;

  &__img {
    > img {
      width: 10.47rem;
      height: 6rem;
      border-radius: 5px;
    }
  }

  &:nth-child(even) {
    .pm-lesson-ware__img {
      text-align: right;
    }
  }

  &__title {
    margin-top: $spacing-tiny;
    padding-right: 0.3rem;
    font-size: 0.94rem;
    line-height: 1.31rem;
    font-weight: 600;

    @include ellipsis();
  }

  &__subTitle,
  &__oprice {
    font-size: 0.75rem;
    line-height: 1.03rem;
    color: $color-text-weakening;
  }

  &__price {
    margin-right: -0.2rem;
    font-size: 1rem;
    color: $color-text-success;
    line-height: 1.6rem;
  }
}

.pm-rater {
  &.vux-rater {
    margin-left: 1rem;
  }

  .vux-rater-inner {
    vertical-align: middle;
  }
}

.pm-textarea {
  width: 100%;
  resize: none;
  border: 1px solid #e5e5e5;
  padding: 0.75rem;
  font-size: 0.875rem;
}

.pm-user-form {
  background: #fff;

  .weui-cells.vux-no-group-title {
    margin-top: 0;
  }
}

.pm-group {
  .weui-cells {
    font-size: 1rem;
  }

  .weui-cell {
    padding: 0 1rem;
    height: 3.25rem;
    line-height: 3.125rem;

    &__ft {
      font-size: 0.875rem;
    }
  }

  .pm-big-cellbox {
    display: block;
    min-height: 8.78rem;
    height: auto;

    &__title {
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.25rem;
    }

    &__interests {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0.75rem;

      > li {
        margin: 0 0.565rem 0.5rem 0;
        height: 2rem;
        padding: 0 0.5rem;
        line-height: 1.875rem;
        background: #f5f5f5;
        border-radius: 4px;
        font-size: 0.8125rem;
        color: $color-text-secondary;
      }
    }

    &::after {
      top: 1.5rem !important;
    }
  }
}

.weui-cell.hide-arrow {
  .weui-cell__ft {
    &::after {
      content: none;
    }
  }
}

.vux-cell-box.hide-arrow {
  .weui-cell__ft {
    &::after {
      content: none;
    }
  }
}

.pm-confirm-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;

  > a {
    display: inline-block;
    width: 100%;
    color: #fff;
    line-height: 3.5rem;
    font-size: $font-size-small;
    background: linear-gradient(90deg, #4eda59 0%, #3eba45 100%);
  }

  &--disabled {
    > a {
      opacity: 0.6;
    }
  }
}

.pm-compact-tab {
  .scrollable .vux-tab-item {
    flex: 0 0 20%;
  }
}

.pm-auth {
  margin: 0 0.5rem 0.3rem 0;
  overflow: hidden;
  white-space: nowrap;

  &__item {
    display: inline-block;
    background: rgba(233, 90, 39, 0.1);
    margin-right: 0.37rem;
    border-radius: 2px;
    line-height: 1.125rem;
    padding: 0 0.3rem;
    font-size: 0.75rem;
    color: #e8541e;
  }
}
