$browser-default-font-size:16px;

@function pxToRem($px) {
  @return $px / ( 2 * $browser-default-font-size) * 1rem;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-aback_normal {
  width: pxtorem(48px);
  height: pxtorem(48px);
  background-position: pxtorem(0) pxtorem(-432px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-aback_selected {
  width: pxtorem(48px);
  height: pxtorem(48px);
  background-position: pxtorem(-470px) pxtorem(0);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-achart_normal {
  width: pxtorem(48px);
  height: pxtorem(48px);
  background-position: pxtorem(-182px) pxtorem(-366px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-achart_selected {
  width: pxtorem(48px);
  height: pxtorem(48px);
  background-position: pxtorem(-240px) pxtorem(-366px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-aconsult_normal {
  width: pxtorem(48px);
  height: pxtorem(48px);
  background-position: pxtorem(-298px) pxtorem(-366px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-aconsult_selected {
  width: pxtorem(48px);
  height: pxtorem(48px);
  background-position: pxtorem(-470px) pxtorem(-290px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-ahome_normal {
  width: pxtorem(48px);
  height: pxtorem(48px);
  background-position: pxtorem(-470px) pxtorem(-348px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-ahome_selected {
  width: pxtorem(48px);
  height: pxtorem(48px);
  background-position: pxtorem(-470px) pxtorem(-232px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-amine_normal {
  width: pxtorem(48px);
  height: pxtorem(48px);
  background-position: pxtorem(-470px) pxtorem(-174px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-amine_selected {
  width: pxtorem(48px);
  height: pxtorem(48px);
  background-position: pxtorem(-356px) pxtorem(-366px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-apractice_normal {
  width: pxtorem(48px);
  height: pxtorem(48px);
  background-position: pxtorem(-124px) pxtorem(-366px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-apractice_selected {
  width: pxtorem(48px);
  height: pxtorem(48px);
  background-position: pxtorem(-66px) pxtorem(-366px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-aquestion_normal {
  width: pxtorem(48px);
  height: pxtorem(48px);
  background-position: pxtorem(-470px) pxtorem(-116px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-aquestion_selected {
  width: pxtorem(48px);
  height: pxtorem(48px);
  background-position: pxtorem(-470px) pxtorem(-58px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-chevron_left {
  width: pxtorem(24px);
  height: pxtorem(40px);
  background-position: pxtorem(-528px) pxtorem(0);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-chevronx_left {
  width: pxtorem(24px);
  height: pxtorem(41px);
  background-position: pxtorem(-432px) pxtorem(-282px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-close {
  width: pxtorem(32px);
  height: pxtorem(32px);
  background-position: pxtorem(-186px) pxtorem(-432px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-detail_consult {
  width: pxtorem(64px);
  height: pxtorem(64px);
  background-position: pxtorem(-366px) pxtorem(-208px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-detail_consultx {
  width: pxtorem(42px);
  height: pxtorem(42px);
  background-position: pxtorem(-208px) pxtorem(-158px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-detail_home {
  width: pxtorem(42px);
  height: pxtorem(42px);
  background-position: pxtorem(-210px) pxtorem(-104px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-detail_identity {
  width: pxtorem(34px);
  height: pxtorem(34px);
  background-position: pxtorem(-58px) pxtorem(-432px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-detail_mark_normal {
  width: pxtorem(40px);
  height: pxtorem(40px);
  background-position: pxtorem(-312px) pxtorem(-262px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-detail_mark_selected {
  width: pxtorem(40px);
  height: pxtorem(40px);
  background-position: pxtorem(-312px) pxtorem(-312px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-detail_markx_normal {
  width: pxtorem(40px);
  height: pxtorem(40px);
  background-position: pxtorem(-414px) pxtorem(-366px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-detail_markx_normal_copy {
  width: pxtorem(40px);
  height: pxtorem(40px);
  background-position: pxtorem(-208px) pxtorem(-210px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-detail_more {
  width: pxtorem(42px);
  height: pxtorem(42px);
  background-position: pxtorem(-158px) pxtorem(-104px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-detail_play {
  width: pxtorem(56px);
  height: pxtorem(56px);
  background-position: pxtorem(-366px) pxtorem(-282px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-detail_tick_x {
  width: pxtorem(32px);
  height: pxtorem(32px);
  background-position: pxtorem(-312px) pxtorem(-432px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-detail_tick {
  width: pxtorem(32px);
  height: pxtorem(32px);
  background-position: pxtorem(-144px) pxtorem(-432px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-elementary_mark {
  width: pxtorem(64px);
  height: pxtorem(32px);
  background-position: pxtorem(-262px) pxtorem(-208px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-home_art {
  width: pxtorem(94px);
  height: pxtorem(94px);
  background-position: pxtorem(-262px) pxtorem(0);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-home_calligraphy {
  width: pxtorem(94px);
  height: pxtorem(94px);
  background-position: pxtorem(-104px) pxtorem(-158px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-home_chart {
  width: pxtorem(56px);
  height: pxtorem(56px);
  background-position: pxtorem(0) pxtorem(-366px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-home_elementary {
  width: pxtorem(94px);
  height: pxtorem(94px);
  background-position: pxtorem(0) pxtorem(-158px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-home_english {
  width: pxtorem(94px);
  height: pxtorem(94px);
  background-position: pxtorem(-262px) pxtorem(-104px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-home_family {
  width: pxtorem(94px);
  height: pxtorem(94px);
  background-position: pxtorem(-158px) pxtorem(0);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-home_high {
  width: pxtorem(94px);
  height: pxtorem(94px);
  background-position: pxtorem(-366px) pxtorem(-104px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-home_middle {
  width: pxtorem(94px);
  height: pxtorem(94px);
  background-position: pxtorem(0) pxtorem(-262px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-home_more {
  width: pxtorem(94px);
  height: pxtorem(94px);
  background-position: pxtorem(-104px) pxtorem(-262px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-home_olymp {
  width: pxtorem(94px);
  height: pxtorem(94px);
  background-position: pxtorem(-208px) pxtorem(-262px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-home_search {
  width: pxtorem(24px);
  height: pxtorem(24px);
  background-position: pxtorem(-528px) pxtorem(-50px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-home_thinking {
  width: pxtorem(94px);
  height: pxtorem(94px);
  background-position: pxtorem(-366px) pxtorem(0);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-home_voice {
  width: pxtorem(32px);
  height: pxtorem(32px);
  background-position: pxtorem(-102px) pxtorem(-432px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-into {
  width: pxtorem(12px);
  height: pxtorem(18px);
  background-position: pxtorem(-528px) pxtorem(-152px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-loading_eye_normal {
  width: pxtorem(32px);
  height: pxtorem(32px);
  background-position: pxtorem(-270px) pxtorem(-432px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-loading_eye_selected {
  width: pxtorem(32px);
  height: pxtorem(32px);
  background-position: pxtorem(-228px) pxtorem(-432px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-logo {
  width: pxtorem(148px);
  height: pxtorem(148px);
  background-position: pxtorem(0) pxtorem(0);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-search {
  width: pxtorem(24px);
  height: pxtorem(24px);
  background-position: pxtorem(-528px) pxtorem(-84px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}

.icon-time {
  width: pxtorem(24px);
  height: pxtorem(24px);
  background-position: pxtorem(-528px) pxtorem(-118px);
  background-size: pxtorem(552px) pxtorem(480px);
  background-image: url('../assets/sprite.png');
}
