$browser-default-font-size:20px;

@function pxToRem($px){
  @return $px / ( 2 * $browser-default-font-size) * 1rem;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-aback_normal{
  width: pxToRem(48px);
  height: pxToRem(48px);
  background-position: pxToRem(0px) pxToRem(-432px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-aback_selected{
  width: pxToRem(48px);
  height: pxToRem(48px);
  background-position: pxToRem(-470px) pxToRem(0px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-achart_normal{
  width: pxToRem(48px);
  height: pxToRem(48px);
  background-position: pxToRem(-182px) pxToRem(-366px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-achart_selected{
  width: pxToRem(48px);
  height: pxToRem(48px);
  background-position: pxToRem(-240px) pxToRem(-366px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-aconsult_normal{
  width: pxToRem(48px);
  height: pxToRem(48px);
  background-position: pxToRem(-298px) pxToRem(-366px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-aconsult_selected{
  width: pxToRem(48px);
  height: pxToRem(48px);
  background-position: pxToRem(-470px) pxToRem(-290px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-ahome_normal{
  width: pxToRem(48px);
  height: pxToRem(48px);
  background-position: pxToRem(-470px) pxToRem(-348px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-ahome_selected{
  width: pxToRem(48px);
  height: pxToRem(48px);
  background-position: pxToRem(-470px) pxToRem(-232px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-amine_normal{
  width: pxToRem(48px);
  height: pxToRem(48px);
  background-position: pxToRem(-470px) pxToRem(-174px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-amine_selected{
  width: pxToRem(48px);
  height: pxToRem(48px);
  background-position: pxToRem(-356px) pxToRem(-366px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-apractice_normal{
  width: pxToRem(48px);
  height: pxToRem(48px);
  background-position: pxToRem(-124px) pxToRem(-366px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-apractice_selected{
  width: pxToRem(48px);
  height: pxToRem(48px);
  background-position: pxToRem(-66px) pxToRem(-366px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-aquestion_normal{
  width: pxToRem(48px);
  height: pxToRem(48px);
  background-position: pxToRem(-470px) pxToRem(-116px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-aquestion_selected{
  width: pxToRem(48px);
  height: pxToRem(48px);
  background-position: pxToRem(-470px) pxToRem(-58px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-chevron_left{
  width: pxToRem(24px);
  height: pxToRem(40px);
  background-position: pxToRem(-528px) pxToRem(0px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-chevronx_left{
  width: pxToRem(24px);
  height: pxToRem(41px);
  background-position: pxToRem(-432px) pxToRem(-282px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-close{
  width: pxToRem(32px);
  height: pxToRem(32px);
  background-position: pxToRem(-186px) pxToRem(-432px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-detail_consult{
  width: pxToRem(64px);
  height: pxToRem(64px);
  background-position: pxToRem(-366px) pxToRem(-208px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-detail_consultx{
  width: pxToRem(42px);
  height: pxToRem(42px);
  background-position: pxToRem(-208px) pxToRem(-158px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-detail_home{
  width: pxToRem(42px);
  height: pxToRem(42px);
  background-position: pxToRem(-210px) pxToRem(-104px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-detail_identity{
  width: pxToRem(34px);
  height: pxToRem(34px);
  background-position: pxToRem(-58px) pxToRem(-432px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-detail_mark_normal{
  width: pxToRem(40px);
  height: pxToRem(40px);
  background-position: pxToRem(-312px) pxToRem(-262px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-detail_mark_selected{
  width: pxToRem(40px);
  height: pxToRem(40px);
  background-position: pxToRem(-312px) pxToRem(-312px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-detail_markx_normal copy{
  width: pxToRem(40px);
  height: pxToRem(40px);
  background-position: pxToRem(-414px) pxToRem(-366px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-detail_markx_normal{
  width: pxToRem(40px);
  height: pxToRem(40px);
  background-position: pxToRem(-208px) pxToRem(-210px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-detail_more{
  width: pxToRem(42px);
  height: pxToRem(42px);
  background-position: pxToRem(-158px) pxToRem(-104px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-detail_play{
  width: pxToRem(56px);
  height: pxToRem(56px);
  background-position: pxToRem(-366px) pxToRem(-282px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-detail_tick_x{
  width: pxToRem(32px);
  height: pxToRem(32px);
  background-position: pxToRem(-312px) pxToRem(-432px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-detail_tick{
  width: pxToRem(32px);
  height: pxToRem(32px);
  background-position: pxToRem(-144px) pxToRem(-432px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-elementary_mark{
  width: pxToRem(64px);
  height: pxToRem(32px);
  background-position: pxToRem(-262px) pxToRem(-208px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-home_art{
  width: pxToRem(94px);
  height: pxToRem(94px);
  background-position: pxToRem(-262px) pxToRem(0px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-home_calligraphy{
  width: pxToRem(94px);
  height: pxToRem(94px);
  background-position: pxToRem(-104px) pxToRem(-158px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-home_chart{
  width: pxToRem(56px);
  height: pxToRem(56px);
  background-position: pxToRem(0px) pxToRem(-366px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-home_elementary{
  width: pxToRem(94px);
  height: pxToRem(94px);
  background-position: pxToRem(0px) pxToRem(-158px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-home_english{
  width: pxToRem(94px);
  height: pxToRem(94px);
  background-position: pxToRem(-262px) pxToRem(-104px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-home_family{
  width: pxToRem(94px);
  height: pxToRem(94px);
  background-position: pxToRem(-158px) pxToRem(0px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-home_high{
  width: pxToRem(94px);
  height: pxToRem(94px);
  background-position: pxToRem(-366px) pxToRem(-104px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-home_middle{
  width: pxToRem(94px);
  height: pxToRem(94px);
  background-position: pxToRem(0px) pxToRem(-262px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-home_more{
  width: pxToRem(94px);
  height: pxToRem(94px);
  background-position: pxToRem(-104px) pxToRem(-262px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-home_olymp{
  width: pxToRem(94px);
  height: pxToRem(94px);
  background-position: pxToRem(-208px) pxToRem(-262px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-home_search{
  width: pxToRem(24px);
  height: pxToRem(24px);
  background-position: pxToRem(-528px) pxToRem(-50px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-home_thinking{
  width: pxToRem(94px);
  height: pxToRem(94px);
  background-position: pxToRem(-366px) pxToRem(0px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-home_voice{
  width: pxToRem(32px);
  height: pxToRem(32px);
  background-position: pxToRem(-102px) pxToRem(-432px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-into{
  width: pxToRem(12px);
  height: pxToRem(18px);
  background-position: pxToRem(-528px) pxToRem(-152px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-loading_eye_normal{
  width: pxToRem(32px);
  height: pxToRem(32px);
  background-position: pxToRem(-270px) pxToRem(-432px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-loading_eye_selected{
  width: pxToRem(32px);
  height: pxToRem(32px);
  background-position: pxToRem(-228px) pxToRem(-432px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-logo{
  width: pxToRem(148px);
  height: pxToRem(148px);
  background-position: pxToRem(0px) pxToRem(0px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-search{
  width: pxToRem(24px);
  height: pxToRem(24px);
  background-position: pxToRem(-528px) pxToRem(-84px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
.icon-time{
  width: pxToRem(24px);
  height: pxToRem(24px);
  background-position: pxToRem(-528px) pxToRem(-118px);
  background-size: pxToRem(552px) pxToRem(480px);
  background-image: url('../assets/sprite.png');
}
